body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.ballcon{
    position: absolute;
    filter: blur(10px);
}
.ball{
    width: 200px;
    position: absolute;
    height: 200px;
    background-color: blue;
    filter: drop-shadow(3px 2px 8px blue);
   border-radius: 50%;
   animation: 20s trans linear infinite alternate;

}
@keyframes trans {
    50%{
        transform: translate(200px) translateY(-50px);
    }
    100%{
        transform: translate(0px) translateY(0px);

    }
}
.on{
    top: -300px;
    right: 250px;
    filter: none;
}

.tw{
    right: 200px;
    width: 100px;
    height: 100px;
}
.th{
top: 150px;
width: 150px;
height: 150px;
right: -120px;
}
h1{
    font-weight: bolder;
    filter: drop-shadow(0px 10px 90px green);
}
form{
    filter: drop-shadow(0px 0px 20px blue);
    z-index: 333;
    border: 2px solid blue;
    border-radius: 16px;
    color: blue;
    height: 400px;
    width: 400px;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: black;
}
input{
    height: 30px;
    width: 70%;
    background-color: transparent;
    color: aliceblue;
    outline: none;
     }

  input::placeholder{
    color: rgba(255, 255, 255, 0.568);

  }
  input:focus {
    border: 2px solid blue;
    box-shadow: 4px 5px 9px blue,-4px -5px 9px blue,1px 1px 9px blue,-1px -1px 9px blue;
    
  }   
button{
    width: 70%;
    height: 30px;
    cursor: pointer;
   box-shadow: -1px 2px 9px rgba(0, 0, 255, 0.566),-1px -2px 9px rgba(0, 0, 255, 0.363),-1px 1px 9px rgba(0, 0, 255, 0.456),-1px -1px 9px rgba(0, 0, 255, 0.505);
    color: whitesmoke;
    background: linear-gradient(100deg, rgb(9, 9, 218), black);
}
i{
    position: absolute;
    color: rgb(0, 98, 255);
    text-align: end;
    font-size: 21px;
    transform: translateY(68px) translate(110px);

}
.bi-person-circle{
    transform: translateY(-21px)translate(110px);
}
p{
    position: absolute;
    top: 80px;
    color: rgba(5, 113, 246, 0.967);
}